#frame { /*the rest of the frame is provided by the other css file*/
                margin-bottom: 3em;
 }

a.header:link, a.header:visited { /*links from the class header are not underlined and have a different color*/
    color:#333;;
    text-decoration: none;
}

a.navigation:link, a.navigation:visited {
    color: #333;;
    text-decoration: none;
}

#arethusapen { /* this class is used to trigger the jquery */
	color: black;
	background-color: #f1f1f1;
	border: solid 1px black;
}

#verbpen {
    color: red;
    border: solid 1px red;
    background-color: #f1f1f1;
}

#nounpen {
    color: rgb(43, 114, 124);
    border: solid 1px rgb(43, 114, 124);
    background-color: #f1f1f1;
}

#searchword {
    border: 1px solid;
    color: #333;
    font-size: 10px;
    margin: 0;
    padding: 3px;
}
/*.choice {
	padding-bottom: 0.2em;
} this class belonged to the older version of the page and is not used*/

.firstrow {
                width: 50px;
}

.marknoun { /* this class is set upon nouns and equals */
	color: black;
}

.markverb { /* this class is set upon verbs and equals */
	color: black;
}

.markconj { /* this class is set upon conjunctions */
	color: black;
}

.markpron { /*this class is set upon pronouns */
	color: black;
}

.markart { /*this class is set upon articles */
	color: black;
}

.markadj { /*this class is set upon adjectives */
	color: black;
}

.markadp { /* this class is set upon adpositions */
	color: black;
}

.markitr { /*this class is set upon interjunctions */
	color: black;
}

.markirr { /* this class is set upon irregulars; it is not used yet */
	color: black;
}

.markadv { /*this class is set upon adverbs */
	color: black;
}

.marknum { /*this class is set upon numbers*/
    color:black;
}
/*the following classes are toggled when the button is clicked; the colorcodes were taken from Arethusa github files*/
.number {
    color: lightgreen;
}

.article {
	color: lightblue;
}

.noun {
	color: rgb(43, 114, 124);
}

.adjective {
	color: blue;
}

.pronoun {
	color: purple;
}

.adverb {
	color: darkorange;
}

.adposition {
	color: green;
}

.conjunction {
	color: deeppink;
}

.interjection {
	color: gold;
}

.irregular {
	color: grey;
}

.verb {
	color: red;
}
/*this class is toggled when a user hovers over a span due to a jquery programme*/
.highlight {
    background-color: pink;
}
/*this class is used for the list with the links that enroll or hide the tables*/
.selection {
    padding-top:0.5em;
}
/*this class is marking up the selected word from the navigationline, it was implemented to fit to the other fragmentaytexts pages*/
#selected {
    color:#02418d;
}
/*this class is used for the searchbox*/
.search {
    float: right;
}
/*when a user hovers the cursor over a word from the navigationline it becomes underlined to specify that it is a link*/
.breadcrumbs a:hover {
    text-decoration:underline;
}