#cookie-bar {text-align:center; padding:7px 0;}
#cookie-bar.dark {background:#111; color:#eee;}
#cookie-bar.light {background:#fff; color:#111;}
#cookie-bar.navbar-fixed-top {position:fixed; top:0; left:0; right:0; width:100%; z-index:1031; box-shadow:0px 3px 7px #333;}
#cookie-bar.navbar-fixed-bottom {position:fixed; right:0; left:0; bottom:0; z-index:1031; box-shadow:0px -3px 7px #333;}
#cookie-bar p {margin:0; padding:0;}
#cookie-bar a {color:#ffffff; display:inline-block; border-radius:3px; text-decoration:none; padding:2px 6px; margin-left:8px;}
#cookie-bar .cb-enable {background:#007700;}
#cookie-bar .cb-enable:hover {background:#009900;}
#cookie-bar .cb-disable {background:#990000;}
#cookie-bar .cb-disable:hover {background:#bb0000;}
#cookie-bar .cb-policy {background:#0033bb;}
#cookie-bar .cb-policy:hover {background:#0055dd;}
